<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
	<icon src="www/img/icon.png" />
    <name>Łed</name>
    <description>My first mobile app</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		John Brown
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" spec="2.0.1" />
	<plugin name="cordova-plugin-device-motion" spec="2.0.0" />
	
<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="www/img/icon.png" density="land-hdpi"/>
    <splash src="www/img/icon.png" density="land-ldpi"/>
    <splash src="www/img/icon.png" density="land-mdpi"/>
    <splash src="www/img/icon.png" density="land-xhdpi"/>

    <splash src="www/img/icon.png" density="port-hdpi"/>
    <splash src="www/img/icon.png" density="port-ldpi"/>
    <splash src="www/img/icon.png" density="port-mdpi"/>
    <splash src="www/img/icon.png" density="port-xhdpi"/>
</platform>
<preference name="SplashScreenDelay" value="10000" />
</widget>
